----- Lokacijata (FILENAME) na .mdf fajlot (bazata) i .ldf (dnevnikot na bazata) treba da se smenat, preporaclivo na cloud....
CREATE DATABASE [registar] ON  PRIMARY 
( NAME = N'registar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS2\MSSQL\DATA\registar.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'registar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS2\MSSQL\DATA\registar_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
USE [registar]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [registar] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
